@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header{
    background: rgb(252, 205, 50);
    display: flex;
    justify-content: space-between;
    height: 60px;
    box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.39);
    margin-bottom: 70px;
}

header h1{
    color: black;
    font-size: 22pt;
    position: right;
    margin-left: 70px;
    margin-top: 10px;
    font-weight: 350;
    font-weight: bold;
}

header img{
    height: 40%;
    margin-right: 50px;
    margin-top: 15px;
}

body {
    background: rgba(241, 241, 241, 0.993);
    margin: 0px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

table {
    font-family: 'Open Sans', sans-serif;
    text-align: center ;
    margin: 50px 50px 100px 50px;
    width: 92%;
    box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.589);
}

table#alter tr td { /*Cor de fundo de toda a tabela*/
    background: rgba(241, 241, 241, 0.993);
    padding: 10px;
}

table#alter tr.dif td { /*Linhas da tabela com fundo laranja*/
    background: rgb(255, 205, 39);
    border-top: 1px solid;
    border-bottom: 1px solid;
}

table th{ /*Cabeçalho*/
    background-image: linear-gradient(rgb(61, 61, 61), rgb(22, 22, 22));
    color: white;
    border: 0.5px solid;
    border-color: black;
    border-width: thin;
    padding: 10px;
    font-size: 11pt;
}

footer {
    background-color: black;
    color: white;
    opacity: 0.5;
    font-size: 8pt;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer h1 {
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(78, 78, 78);
    color: white;
    cursor: pointer;
    border: 0.5px solid;
    border-color: black;
    transition: 0.25s linear;
    padding: 7px 7px;
    border-radius: 9%;
}

input[type="submit"].botao:hover{ /*Muda a cor do botão submit quando o mouse é colocado por cima*/
    background: rgb(51, 51, 51);
}