@charset "UTF-8";

header{
    background: rgb(250, 178, 43);
    display: flex;
    justify-content: space-between;
    position: relative;
}

header h1{
    color: black;
    font-size: 16pt;
    position: right;
}

header img{
    height: 50%;
    width: 50%;
}

body {
    background: rgb(236, 235, 235);
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-family: sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.wl {
    height: 5%;
    width: 5%;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
}

table#alter tr td { /*Cor de fundo de toda a tabela*/
    background: rgb(236, 235, 235);
}

table#alter tr.dif td { /*Linhas da tabela com fundo laranja*/
    background: rgb(250, 178, 43);
    border-top: 1px solid;
    border-bottom: 1px solid;
}

table th{ /*Cabeçalho*/
    background-image: linear-gradient(rgb(61, 61, 61), rgb(22, 22, 22));
    color: white;
    border: 0.5px solid;
    border-color: black;
    border-width: thin;
}

footer {
    background-color: black;
    color: white;
    opacity: 0.5;
    font-size: 8pt;
    margin: 0;
}

footer h1 {
    text-align: center;
}