@charset "UTF-8";

header{
    background: rgb(252, 205, 50);
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 60px;
    box-shadow: 1px 2px 7px 1px black;
}

header h1{
    color: black;
    font-size: 22pt;
    position: right;
    margin-left: 50px;
    margin-top: 10px;
    font-weight: 300;
}

header img{
    height: 40%;
    margin-right: 50px;
    margin-top: 15px;
}

body {
    background: rgba(231, 231, 231, 0.993);
    margin: 0px;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

h1 {
    font-family: Roboto, sans-serif;
}

h2 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.wl { /*Imagem perdeu e venceu*/
    height: 5%;
    width: 5%;
    margin: none;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center ;
    margin: auto;
    width: 92%;
    box-shadow: 1px 2px 7px 1px black;
}

table#alter tr td { /*Cor de fundo de toda a tabela*/
    background: rgba(231, 231, 231, 0.993);
}

table#alter tr.dif td { /*Linhas da tabela com fundo laranja*/
    background: rgb(252, 205, 50);
    border-top: 1px solid;
    border-bottom: 1px solid;
}

table th{ /*Cabeçalho*/
    background-image: linear-gradient(rgb(61, 61, 61), rgb(22, 22, 22));
    color: white;
    border: 0.5px solid;
    border-color: black;
    border-width: thin;
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    opacity: 0.5;
    font-size: 8pt;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer h1 {
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(78, 78, 78);
    color: white;
    cursor: pointer;
    border: 0.5px solid;
    border-color: black;
    transition: 0.25s linear;
}

input[type="submit"].botao:hover{ /*Muda a cor do botão submit quando o mouse é colocado por cima*/
    background: rgb(51, 51, 51);
}